.venv/
env/
venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

build/
dist/

.vscode/
*.code-workspace

*.log
*.tmp

.DS_Store
Thumbs.db
desktop.ini

*.egg-info/
.eggs/
pip-wheel-metadata/
test.py
readme.txt
dev_notes.txt